.container {
  width: 300px;
	height: 10px;
	margin: 0 auto;
}

.horizontal div {
	text-align: center;
	margin: 0 auto;
}

.whole {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	heigth: 100%;
	background-color: #4B96F4;

.vertical-horizontal {
	position: relative;
}

.vertical-horizontal div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;

}
